.home-background{
    background-color: var(--primary);
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.Petstate {
    font-size: 4rem;
    font-family: "Roboto";
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 1.5rem;
    font-style:italic;
    font-weight: lighter;
  }
#ellipse-viewbox{
    position: fixed;
    padding-top: 0%;
    padding-bottom:0%;
    margin: 0;
    bottom: 0px;
    width: 100%;
    z-index: -1;
    display: block;
}
#home-ellipse{
    fill: var(--ltblue);
    padding-top: 0%;
    padding-bottom:0%;
    margin: 0;
}

#date{
    margin:0;
    position: relative;
    top: calc(35vh + 1.5rem);
    font-size:1.8em;
    text-align: center;
}
.reflect-button{
    background-color: var(--aqua);
    font-family: "Mulish";
    color: white;
    border: .35rem solid #3F8898;
    position: relative; 
    left: calc(50vw - 9rem);
    width: 18rem;
    height: 5rem;
    border-radius: 10rem;
    font-weight:bold;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    box-sizing: border-box;
    box-shadow: 0 .5rem 0 .2rem var(--ltblue);
    font-weight: 700;
    outline: none !important;

  }
.reflect-button:hover{
    background-color: var(--pink);
    border: 5px solid #ff9987;
    cursor: pointer;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cons:hover{
    cursor: pointer;
}
