.home-background{
    background-color: var(--primary);
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
#ellipse-viewbox{
    position: fixed;
    padding-top: 0%;
    padding-bottom:0%;
    margin: 0;
    bottom: 0px;
    width: 100%;
    z-index: -1;
    display: block;
}
#home-ellipse{
    fill: var(--ltblue);
    padding-top: 0%;
    padding-bottom:0%;
    margin: 0;
}

#date{
    margin:0;
    position: fixed;
    top: 46vh;
    left:45vw;
    font-size:1.8em;
    text-align: center;
}
.reflect-button{
    background-color: var(--aqua);
    color: white;
    border: 5px solid #3F8898;
    position: fixed; 
    left: calc(50vw - 150px);
    top:35vh;
    width: 300px;
    height: 70px;
    border-radius: 38px;
    font-weight:bold;
    font-size: 2.2em;
    letter-spacing: 0.09em;
    box-sizing: border-box;
    box-shadow: 0px 10px 0px 3px var(--ltblue);
  }
.reflect-button:hover{
    background-color: var(--pink);
    border: 5px solid #ff9987;
    cursor: pointer;
}
.container{
    background: url('../../assets/doggowalk.svg') ; 
    background-size: cover;
    width:240px;
    height:210px;
    bottom: 10vh;
    left: 60vw;
    padding: 0;
    display: block;
    margin: 0;
    position: fixed;
    animation: petwalk 11s steps(18) infinite;
}

@keyframes petwalk{
    0%{
        left: 60vw;
        bottom: 10vh;
    }
    25%{
        bottom: 11vh;
    }
    50%{
        left:20vw;    
        bottom: 10vh;
    }
    75%{
        bottom: 11vh;
    }
    100% {
        left: 60vw;
        bottom: 10vh;
        background-position: -4320px;
      }
}
@keyframes translatee{
    0%{
        left: 80vw;
    }
    100%{
        left: 10vw;
    }
}
