.landing{
    /* background-color: var(--ltblue); */
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.clouds{
    background-color: var(--ltblue); 
    z-index:-1;
    position: relative;
    overflow:hidden;
    height: 100vh;

}

.landing-title{
    font-style: italic;
    text-align: center;
    font-weight: lighter;
    font-size: 3rem;
    text-justify: auto;
    margin-top: 30vh;
    z-index: 100;
}
.landing-button{
    background-color: var(--aqua);
    color: white;
    border-width: 0;
    position: relative; 
    left: 40vw;
    align-items: center;
    align-content: center;
    width: 20vw;
    height: 3rem;
    margin-top: 1vh;
    border-radius: 3vw;
    text-align: center;
    display:block;
    font-family: "Mulish";
    font-weight: 700;
    letter-spacing: .1em;    
    font-size: 1.2em;
    outline: none !important;
}
.landing-button:hover{
    background-color: var(--pink);
    cursor: pointer;
}
.Modal {
    position: absolute;
    top: 10vh;
    margin:auto;
    left: 50vh;
    width:50vw;
    background-color: var(--primary);
    border-radius: 30px;
    outline: none !important;
  }

  .modalFlex{
    display:flex;
    justify-content: center;
  }

  .about-title {
      font-family: "Mulish";
      font-size: 1.5rem;
      color: var(--darkblue);
      margin-bottom: 1rem;
      /* justify-self:center; */
      align-self:unset;
  }
.about-content{
    margin: 1rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size:1.2rem;
    color:var(--darkblue);
}

.modal-close-button{
    background-color: transparent;
    outline: none !important;
    border: none;
    position: absolute;
    height: 3vh;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    left:0;
}

.modal-close-button:hover{
    color: var(--pink);
    cursor: pointer;
}

.beans{
    height:2rem;
    bottom: 3vh;
    right:3vw;
    position:absolute;
}
/* .plane{
    height:2rem;
    top: 7.5vh;
    right:8vw;
    position:absolute;
} */

.names{
    margin-left: .5em;
    margin-right: .5em;
}

.cloud1{
    height:22vh;
    position: fixed;
    bottom: 28vh;
    left: 0vw;
    padding: 0;
    display: block;
    margin: 0;   
    z-index: -1;
    animation: cloud1Movement 25s steps(400) infinite;
}

@keyframes cloud1Movement{
    0% {
        transform: translate();
        left: -20vw;
    }
    25%{
        left:15vw;
    }
    50% {
        left: 50vw;
    }
    75% {
        left: 85 vw;
    }
    100% {
        left: 120vw;
      }
}

.cloud2{
    height:40vh;
    position: fixed;
    bottom: 58vh;
    left:0vw;
    padding: 0;
    display: block;
    margin: 0;   
    z-index: -1;
    animation: cloud2Movement 60s steps(800) infinite;
}

@keyframes cloud2Movement{
    0%, 100% {
        transform: translate();
        left: 0vw;
        bottom: 58vh;
    }
    30%{
        left:60vw;
        bottom: 58vh;
    }
    60% {
        left:120vw;
        bottom: 58vh;
    }
    61% {
        left: 120vw;
        bottom: -50vh;
    }
    62% {
        left: -40vw;
        bottom:-50vh;
    }
    70% {
        left: -40vw;
        bottom: 60vh;
    }
}

.cloud3{
    height:28vh;
    position: fixed;
    bottom: 5vh;
    right: 0vw;
    padding: 0;
    display: block;
    margin: 0;   
    z-index: -1;
    animation: cloud3Movement 35s steps(400) infinite;
}

@keyframes cloud3Movement{
    0%, 100% {
        transform: translate();
        right: 0vw;
        bottom: 5vh;
    }
    30%{
        right:60vw;
        bottom: 5vh;
    }
    60% {
        right: 120vw;
        bottom: 5vh;
    }
    61% {
        right:120vw;
        bottom: -50vh;
    }
    62% {
        right: -40vw;
        bottom:-50vh;
    }
    70% {
        right: -40vw;
        bottom: 5vh;
    }
}

.cloud4{
    height:30vh;
    position: fixed;
    top: 25vh;
    right: -60vw;
    padding: 0;
    display: block;
    margin: 0;   
    z-index: -1;
    animation: cloud4Movement 30s steps(400) infinite;
}

@keyframes cloud4Movement{
    0%, 100% {
        transform: translate();
        right: -60vw;
        top: 25vh;
    }
    30%{
        right:0vw;
        top: 25vh;
    }
    60% {
        right: 60vw;
        top: 25vh;
    }
    90% {
        right:120vw;
        top: 25vh;
    }
    91% {
        right: 120vw;
        top: -30vh;
    }
    92% {
        right: -60vw;
        top: -30vh;
    }
    /* 93% {
        right: -60vw;
        top: -25vh;
    } */
}