/* Fill me in :) */
.landing{
    background-color: var(--ltblue);
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.landing-title{
    font-style: italic;
    text-align: center;
    font-weight: lighter;
    font-size: 3rem;
    text-justify: auto;
    margin-top: 30vh;
}
.landing-button{
    background-color: var(--aqua);
    color: white;
    border-width: 0;
    position: relative; 
    left: 40vw;
    align-items: center;
    align-content: center;
    width: 20vw;
    height: 6vh;
    margin-top: 1vh;
    border-radius: 3vw;
    text-align: center;
    display:block;
    font-family: "Mulish";
    font-weight: bolder;
    font-size: 1.2em;
    outline: none !important;
}
.landing-button:hover{
    background-color: var(--pink);
    cursor: pointer;
}
.Modal {
    position: absolute;
    top: 10vw;
    left: 50vh;
    width:50vw;
    height: 50vh;
    background-color: var(--primary);
    border-radius: 30px;
    outline: none !important;
  }
  .about-title {
      font-family: "Mulish";
      font-size: 1.5rem;
      color: var(--darkblue);
      margin-bottom: 1rem;
  }
.about-content{
    margin: 1rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size:1.2rem;
    color:var(--darkblue);
}

.modal-close-button{
    background-color: transparent;
    outline: none !important;
    border: none;
    position: absolute;
    height: 3vh;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    left:0;
}

.modal-close-button:hover{
    color: var(--pink);
    cursor: pointer;
}

.beans{
    height:2rem;
    bottom: 35vh;
    right:25vw;
    position:fixed;
}
.plane{
    height:2rem;
    top: 23vh;
    right:32vw;
    position:fixed;
}
.names{
    margin-left: .5em;
    margin-right: .5em;
}

.cloud1{
    height:22vh;
    position: fixed;
    bottom: 10vh;
    left: 80vw;
    padding: 0;
    display: block;
    margin: 0;   
    z-index: -1;
    animation: cloud1Movement 25s steps(400) infinite;
}

.cloud2{
    height:40vh;
    position: fixed;
    bottom: 60vh;
    right: 0vw;
    padding: 0;
    display: block;
    margin: 0;   
    z-index: -6;
    /* animation: cloud2Movement 40s steps(400) infinite; */
}

.cloud3{
    height:28vh;
    position: fixed;
    bottom: 10vh;
    left: 80vw;
    padding: 0;
    display: block;
    margin: 0;   
    z-index: -1;
    animation: cloud1Movement 2s steps(400) infinite;
}

@keyframes cloud1Movement{
    0% {
        transform: translate();
        left: -20vw;
    }
    25%{
        left:15vw;
    }
    50% {
        left: 50vw;
    }
    75% {
        left: 85 vw;
    }
    100% {
        left: 120vw;
      }
}