.background-timeline{
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.title{
    margin-top:2vh;
    margin-left: 2vw
}

.reminder{
    margin-left: 3vw;
}

.entry-card{
    background-color: var(--ltblue);
    border-radius: 1em;
    padding: 1%;
    margin: 1vh 2vw;
}

.entry-title{
    margin: .3em;
    display: inline-block;
}

.entry-content{
    margin: .5em;
}

.title-pic{
    height: 20px;
    display: inline-block;
    margin-left: .5vh;
}

.doggo{
    background: url('../../assets/dog_normal.svg') ; 
    background-repeat: no-repeat;
    height:25vh;
    bottom: 10vh;
    width: 60vw;
    left: 60vw;
    position: fixed;
}
.cat{
    background: url('../../assets/kitty_normal.svg') ; 
    background-repeat: no-repeat;
    height:25vh;
    bottom: 10vh;
    width: 60vw;
    left: 60vw;
    position: fixed;
}
.dino{
    background: url('../../assets/dino_normal.svg') ; 
    background-repeat: no-repeat;
    width: 40vw;
    height:60vh;
    bottom: 10vh;
    left: 60vw;
    position: fixed;
}