.background-timeline{
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.entrybox{
    background-color: var(--ltblue);
    border-radius: 1.5em;
    padding: 2%;
    margin: 4vh 10vw;
}

.title{
    margin-top:2vh;
    margin-left: 2vw
}

.reminder{
    padding-top: 1em;
    font-size: 1.2rem;
    margin-left: 3vw;
}

.entry-card{
    background-color: var(--ltblue);
    border-radius: 1em;
    padding: 1%;
    margin: 1vh 2vw;
}

.entry-title{
    margin: .3em;
    display: inline-block;
}

.entry-content{
    margin: .5em;
}

.title-pic{
    height: 20px;
    display: inline-block;
    margin-left: .5vh;
}
.beansimage{
    height:2em;
    position: absolute;
    left:5vw;
    top:10vh;

}
.doggo{
    background: url('../../assets/doggo_flip.svg') ; 
    background-repeat: no-repeat;
    height:20vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    position: relative;
}
.cat{
    background: url('../../assets/kitty_flip.svg') ; 
    background-repeat: no-repeat;
    height:20vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    position: relative;
}
.dino{
    background: url('../../assets/dino_flip.svg') ; 
    background-repeat: no-repeat;
    height:40vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    position: relative;
}.chin{
    background: url('../../assets/chin_normal.svg') ; 
    background-repeat: no-repeat;
    height:20vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    position: relative;
}
.whale{
    background: url('../../assets/whale_flip.svg') ; 
    background-repeat: no-repeat;
    height:35vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    position: relative;
}.worm{
    background: url('../../assets/worm_flip.svg') ; 
    background-repeat: no-repeat;
    height:20vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    position: relative;
}
