.profile-background{
    background-color: var(--ltblue);
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.homebuttonpink {
    right:-5vw;
    top:5vh;
    position:fixed;
    height:4vh;
    background-color: var(--aqua);
    padding-bottom:15px;
    padding-top:15px;
    padding-right:8vw;
    padding-left:2vw;
    border-radius: 60px;
}
.homebuttonpink:hover{
    cursor: pointer;
    background-color: var(--pink);
}
.containert{
    color: var(--darkblue);
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bolder;
}
.petprofile{
    background-color: var(--primary);
    position: relative;
    border: solid;    
    border-width: .3rem;
    border-radius: 2em;
    border-color: var(--darkblue);
    left:15vw;
    margin-top: 10vh;    
    width:70vw;
    height:80vh;
    display: flex;
}

.infocontainer{
    margin-top: 2rem;
    margin-left: 3rem;
}
.info{
    color: var(--darkblue);
    padding: 1em;
    font-size: 3.5vh;
    font-style: italic;
    font-weight:normal;
}
.petcontain{
    background-color: var(--ltblue);
    width: 20vw;
    height:20vw;
    position: relative;; 
    bottom: 33vh;
    left: 47vw;
    border-radius: 3em;
    margin:0;
    display: flex;
    justify-content: center;
}
.titlep{
    font-family: "Mulish";
    font-size: 2.5em;
    background-color: var(--ltblue);
    border-radius: 2em;
    width:fit-content;
    padding:.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display:inline;
}
.doggo-p{
    background: url('../../assets/dog_normal.svg') ; 
    background-repeat: no-repeat;
    height:25vh;
    width: 25vh;
    top:10vh;
    position: relative;
}
.cat-p{
    background: url('../../assets/kitty_journal.svg') ; 
    background-repeat: no-repeat;
    height:25vh;
    width: 25vh;
    left:1vw;
    top:8vh;
    position: relative;
}
.dino-p{
    background: url('../../assets/dino_journal.svg') ; 
    background-repeat: no-repeat;
    height:40vh;
    width: 40vh;
    top:1vh;
    position: relative;
}.chin-p{
    background: url('../../assets/chin_journal.svg') ; 
    background-repeat: no-repeat;
    height:25vh;
    width: 25vh;
    top:6vh;
    position: relative;
}
.worm-p{
    background: url('../../assets/worm_normal.svg') ; 
    background-repeat: no-repeat;
    height:25vh;
    width: 25vh;
    left:3vw;
    top:8vh;
    position: relative;
}
.whale-p{
    background: url('../../assets/whale_normal.svg') ; 
    background-repeat: no-repeat;
    height:30vh;
    width: 30vh;
    top:10vh;
    position: relative;
}
.beanss{
    height:5vh;
    position:absolute;
    left:64vw;
    bottom:70vh;
}
