.newEntry-background{
    background-color: var(--primary);
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.journal-box{
    background-color: var(--white);
    border: solid;
    margin-bottom: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 3vh 5vw;
    height: 80vh;
    width: 70vw;
    border-radius: 25px;
    border-color: var(--aqua);
}

.title{
    margin-bottom: 3vh;
    font-family: "Mulish";
    font-weight: 300;
    padding-bottom: .1em;
    border-bottom: solid var(--darkaqua);
    border-bottom-width: 1px;
    text-transform: lowercase;
}

.dateTime-display{
    position:absolute;
    left: -7vw; 
    top:-25vh;
    background-color: var(--ltblue);
    padding-left: 8rem;
    padding-top: 10rem;   
    height: 10rem;
    width: 15rem;
    border-radius: 70%;
    z-index: -1;
}
.saved{
    margin-left: 1em;
    font-size: 2em;
}

/* does not work yet and idk why */
.blue-floor{
    position:absolute;
    background-color: var(--ltblue);
    padding-top: 0%;
    padding-bottom:0%;
    margin: 0;
    height:10vh;
    width: 100%;
    z-index: 500;
}
.submit-entry{
    background-color: var(--aqua);
    color: white;
    border-width: 0;
    position: relative; 
    left: 72vw;
    top:9vh; 
    width: 10vw;
    height: 5vh;
    border-radius: 2em;
    text-align: center;
    font-family: "Mulish";
    font-weight: bolder;
    font-size: 1.2em;
}
.submit-entry:hover{
    background-color: var(--pink);
    cursor: pointer;
}