.newEntry-background{
    background-color: var(--primary);
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
div.DraftEditor-root{
    overflow-y:scroll; 
    height: 60vh;
    height:fit-content;
    max-height: 60vh;
}
.journal-box{
    background-color: var(--white);
    border: solid;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 3vh 5vw;
    height: 80vh;
    width: 70vw;
    border-radius: 3rem;
    border-color: var(--aqua);
}

.titleentry{
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 2rem;
    font-family: "Mulish";
    font-weight: 300;
    padding-bottom: .1em;
    /* border-bottom: solid var(--aqua);
    border-bottom-width: 1px; */
    text-transform: lowercase;
    font-style: normal;
}

.dateTime-display{
    position:absolute;
    left: -7vw; 
    top:-25vh;
    background-color: var(--ltblue);
    padding-left: 8rem;
    padding-top: 10rem;   
    height: 10rem;
    width: 15rem;
    border-radius: 70%;
    z-index: -1;
    display:inline-block;
}
.saved{
    margin-left: 2rem;
    font-size: .8rem;
    font-style: italic;
    font-weight: lighter;
    display:inline-block;
    
}

.header{
    border-bottom: solid var(--aqua);
    border-bottom-width: 1px;
    margin-bottom:1rem;
}

/* does not work yet and idk why */
.blue-floor{
    position:absolute;
    background-color: var(--ltblue);
    padding-top: 0%;
    padding-bottom:0%;
    margin: 0;
    height:10vh;
    width: 100%;
    z-index: 500;
}
.submit-entry{
    background-color: var(--aqua);
    color: white;
    border-width: 0;
    position: relative; 
    width: 12vw;
    height: 3rem;
    border-radius: 2em;
    text-align: center;
    font-family: "Mulish";
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 1.5rem;
    left: 58vw;
    top:2vh;
    outline: none !important;

}
.submit-entry:hover{
    background-color: var(--pink);
    cursor: pointer;
}
