.footer{
    font-size:1.5rem;
    height: 2.5vh;
    padding-left: .5vw;
    display: inline;
    font-style: italic;
    font-weight: 100;
}
.fcontainer{
    position: fixed;
    padding-right: 1.5rem;
    right:0vw;
    top:95vh;
}