.homebutton{
    right:0vw;
    top:5vh;
    position: absolute;;
    height:4vh;
    background-color: var(--ltblue);
    padding-bottom:1rem;
    padding-top:1rem;
    padding-right:2vw;
    padding-left:2rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    overflow-x: hidden;
}
.homebutton:hover{
    cursor: pointer;
    background-color: var(--pink);
}