.NavBar-container {
  background-color: var(--ltblue);
  position:fixed;
  top:15vh;
  left:-5vw;
  height: 25rem;
  width: 35vw;
  border-radius: 70px;
}
.NavBar-linkContainer {
  display: block;
  margin-top: 2rem;
  margin-left: 5rem;
}

.NavBar-link{
  text-decoration: none;
  font-size: 2em;
  color:var(--darkblue);
}

.NavBar-link:visited {
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}
