.name-display{
  color: var(--darkblue);
  position: fixed;
  left: -5vw; 
  top: 4vh;
  background-color: var(--ltblue);
  padding-top: 1rem;    
  padding-bottom: 1rem;
  padding-right: 2rem;
  border-radius: 4rem;
  font-style: italic;
}
.name-display:hover{
  cursor: pointer;
}
.namecard{
  display: inline;
  font-size: 1.9rem;
  height:1.2rem;
  margin-left: 7rem;
  font-style: italic;
}
.arrowdown{
  transform: rotate(180deg);
  margin-bottom: .5vh;
}
.arrowup{
}

.NavBar-container {
  background-color: var(--ltblue);
  position:fixed;
  left: -5vw; 
  top: 4vh;
  margin-top:6rem;
  height: 18rem;
  width: 25rem;
  border-radius: 3rem;
  font-style: italic;
  display:block;
}
.show {
  opacity:1;
  visibility: visible;
  animation: NavBarAppear .4s;
}

@keyframes NavBarAppear{
    0% {
        opacity:0;
    }
    100% {
      opacity:1;
    }
}

.hide{
  opacity: 0;
  animation: NavBarDisappear .4s;
  visibility:hidden;

}
.hidden{
  opacity: 0;
  visibility:hidden;
}

@keyframes NavBarDisappear{
    0% {
      opacity: 100%; 
    }
    100% {
      opacity:0;
    }
}

.NavBar-linkContainer {
  display: block;
  margin-top: 2rem;
  margin-left: 5rem;
}

.NavBar-link{
  text-decoration: none;
  font-size: 2em;
  color:var(--darkblue);
}
.NavBar-logout{
  border-width: 0;
  padding: 0;
  background-color: var(--ltblue);
  font-size: 2em;
  font-family: "Roboto";
  color:var(--darkblue);
  font-style: italic;
  outline: none !important;

}
.NavBar-logout:hover{
  cursor: pointer;
  opacity: 0.8;
}

.NavBar-link:visited {
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}
.Navbar-logout{
  background-image: none;
  background: none;
}