
  .hearticon{
    height:2rem;
    position:relative;
    top:13vh;
    left:44vw;
    margin:.8em;
  }
  .sad{
    background: url('../../assets/dog_sad.svg') ; 
    background-repeat: no-repeat;
    width:220px;
    height:200px;
    bottom: 10vh;
    left: 60vw;
    position: fixed;
  }
  .normal{
    background: url('../../assets/dog_normal.svg') ; 
    background-repeat: no-repeat;
    width:240px;
    height:200px;
    bottom: 10vh;
    left: 60vw;
    position: fixed;
  }
  .happy{
    background: url('../../assets/doggowalko.svg') ; 
    background-size: cover;
    width:240px;
    height:210px;
    bottom: 10vh;
    left: 60vw;
    padding: 0;
    display: block;
    margin: 0;
    position: fixed;
    animation: petwalk 12s steps(24) infinite;
}
.normal-cat{
    background: url('../../assets/kitty_normal.svg') ; 
    background-repeat: no-repeat;
    width:220px;
    height:200px;
    bottom: 10vh;
    left: 60vw;
    position: fixed;
  }
.sad-cat{
    background: url('../../assets/kitty_sad.svg') ; 
    background-repeat: no-repeat;
    width:220px;
    height:200px;
    bottom: 10vh;
    left: 60vw;
    position: fixed;
  }
  .happy-cat{
    background: url('../../assets/cat_walk.svg') ; 
    background-size: cover;
    width:220px;
    height:220px;
    bottom: 10vh;
    left: 60vw;
    padding: 0;
    display: block;
    margin: 0;
    position: fixed;
    animation: catwalk 12s steps(24) infinite;
}
  .normal-dino{
    background: url('../../assets/dino_normal.svg') ; 
    background-repeat: no-repeat;
    width:550px;
    height:400px;
    bottom: 5vh;
    left: 60vw;
    position: fixed;
    
  }
.sad-dino{
    background: url('../../assets/dino_sad.svg') ; 
    background-repeat: no-repeat;
    width:650px;
    height:400px;
    bottom: -5vh;
    left: 50vw;
    position: fixed;
  }
  .happy-dino{
    background: url('../../assets/dino_walk.svg') ; 
    background-size: cover;
    width:650px;
    height:450px;
    bottom: 5vh;
    padding: 0;
    display: block;
    margin: 0;
    position: fixed;
    animation: dinowalk 12s steps(24) infinite;
}
  .normal-chin{
    background: url('../../assets/chin_normal.svg') ; 
    background-repeat: no-repeat;
    width:220px;
    height:200px;
    bottom: 10vh;
    left: 60vw;
    position: fixed;
    
  }
.sad-chin{
    background: url('../../assets/chin_sad.svg') ; 
    background-repeat: no-repeat;
    width:220px;
    height:200px;
    bottom: 0vh;
    left: 60vw;
    position: fixed;
  }
  .happy-chin{
    background: url('../../assets/chin_walk.svg') ; 
    background-size: cover;
    width:240px;
    height:150px;
    bottom: 10vh;
    left: 60vw;
    padding: 0;
    display: block;
    margin: 0;
    position: fixed;
    animation: chinwalk 12s steps(24) infinite;
}
  .normal-whale{
    background: url('../../assets/whale_normal.svg') ; 
    background-repeat: no-repeat;
    width:550px;
    height:400px;
    bottom: 5vh;
    left: 60vw;
    position: fixed;
  }
.sad-whale{
    background: url('../../assets/whale_sad.svg') ; 
    background-repeat: no-repeat;
    width:550px;
    height:400px;
    bottom: 0vh;
    left: 60vw;
    position: fixed;
  }
  .happy-whale{
    background: url('../../assets/whale_walk.svg') ; 
    background-size: cover;
    width:600px;
    height:400px;
    left: 60vw;
    padding: 0;
    display: block;
    margin: 0;
    position: fixed;
    animation: whalewalk 12s steps(24) infinite;
}
  .normal-worm{
    background: url('../../assets/worm_normal.svg') ; 
    background-repeat: no-repeat;
    width:220px;
    height:200px;
    bottom: 10vh;
    left: 60vw;
    position: fixed;
    
  }
.sad-worm{
    background: url('../../assets/worm_sad.svg') ; 
    background-repeat: no-repeat;
    width:220px;
    height:200px;
    bottom: 10vh;
    left: 60vw;
    position: fixed;
  }
  .happy-worm{
    background: url('../../assets/worm_walk.svg') ; 
    background-size: cover;
    width:150px;
    height:240px;
    bottom: 10vh;
    left: 60vw;
    padding: 0;
    display: block;
    margin: 0;
    position: fixed;
    animation: wormwalk 12s steps(24) infinite;
}
@keyframes wormwalk{
  0%{
      left: 60vw;
      bottom: 10vh;
  }
  25%{
      bottom: 11vh;
  }
  50%{
      left:20vw;    
      bottom: 10vh;
  }
  75%{
      bottom: 11vh;
  }
  100% {
      left: 60vw;
      bottom: 10vh;
      background-position: -3600px;
    }
}
  @keyframes whalewalk{
    0%{
        left: 60vw;
        bottom: 6vh;
    }
    25%{
        bottom: 7vh;
    }
    50%{
        left:20vw;    
        bottom: 6vh;
    }
    75%{
        bottom: 7vh;
    }
    100% {
        left: 60vw;
        bottom: 6vh;
        background-position: -14400px;
      }
}
  @keyframes chinwalk{
    0%{
        left: 60vw;
    }
    50%{
        left:20vw;    
    }
    100% {
        left: 60vw;
        background-position: -5760px;
      }
}
  @keyframes dinowalk{
    0%{
        left: 50vw;
    }
    50%{
        left:10vw;    
    }
    100% {
        left: 50vw;
        background-position: -15600px;
      }
}
  @keyframes catwalk{
    0%{
        left: 60vw;
        bottom: 10vh;
    }
    25%{
        bottom: 11vh;
    }
    50%{
        left:20vw;    
        bottom: 10vh;
    }
    75%{
        bottom: 11vh;
    }
    100% {
        left: 60vw;
        bottom: 10vh;
        background-position: -5280px;
      }
}
@keyframes petwalk{
    0%{
        left: 60vw;
    }
    50%{
        left:20vw;    
    }
    100% {
        left: 60vw;
        background-position: -5760px;
      }
}
